process {
    memory { 15.GB * task.attempt }

    errorStrategy { task.exitStatus in [140,130] ? 'retry' : 'terminate' }
    maxRetries 3
}

profiles {
    standard {
        process.executor = 'local'
    }
    farm3 {
        process.executor = 'lsf'
        process.queue = 'normal'
        
        // https://www.nextflow.io/docs/latest/executor.html#lsf
        executor.perJobMemLimit = true
    }
}
